* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-main: #FFFFFF;
    --background-accent: #E3F2FD;
    --primary-color: #039BE5;
    --secondary-color: #FFD54F;

    --text-title: #01579B;
    --text-paragraph: #222222;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--background-main);
    color: var(--text-paragraph);
}

header, footer {
    background-color: var(--primary-color);
    padding: 1rem;
    width: 70%;
    margin: 5px auto;
    text-align: center;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: "Red Hat Display", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--background-accent);
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
}

h1, h2 {
    text-align: center;
    color: var(--text-title);
}

h3 {
    text-align: center;
    color: var(--primary-color);
}

.general, .wireframes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--background-main);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

p {
    padding: 10px 0;
    line-height: 1.5;
}

ul {
    line-height: 1.5;
}

ul li {
    margin-bottom: 10px;
}

#titles {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
}

#paragraphs {
    font-family: "Noto Sans", sans-serif;
}

.colors {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    padding: 15px;
    color: #000;
}

.colors div {
    width: 250px;
    height: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 8px;
}

.b-color {
    background-color: var(--background-main);
}

.b-color-2 {
    background-color: var(--background-accent);
}

.bot-links-color {
    background-color: var(--primary-color);
    color: white;
}

.titles-text-color {
    background-color: var(--text-title);
    color: white;
}

a {
    color: var(--text-paragraph);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;

}

a:hover {
    background-color: var(--text-title);
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

#mobile {
    margin: 0 auto;
    border-top: 5px solid var(--secondary-color);
    margin-top: 20px;
}

figcaption {
    text-align: center;
    font-weight: bold;
}

footer {
    color: white;
}
